.back{
  background-image:url("https://github.com/Sureshananthan20/portfolio/blob/main/photos/background.jpg");
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat;
}
