.back{
  background-image:url("https://img.freepik.com/free-vector/simple-blue-gradient-background-vector-business_53876-166894.jpg?t=st=1742984604~exp=1742988204~hmac=3fdffb78931ebbb4a64bda9d61a596bc30ec0f6fca398c8192a886b9c0bd232d&w=360");
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat;
}
