.back{
  background-image:url("https://img.freepik.com/free-photo/dried-flowers-vase-blue-wall_169016-5179.jpg?t=st=1742985458~exp=1742989058~hmac=efc9a57919d796bc2740a6f2c75d65783b1c203432fb3c9b051ab247c87a0247&w=996");
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat;
}
